body {
  background-color: #f4f4f4;
}

.color-grid {
  display: flex;
  gap: 10px;
}

.color-box {
  width: 100px;
  height: 100px;
}

.color1 { background-color: #ff5733; }
.color2 { background-color: rgb(50, 150, 200); }
.color3 { background-color: green; }
.color4 { background-color: hsl(200, 70%, 50%); }
.color5 { background-color: black; }
.color6 { background-color: #ffff00; }
.color7 { background-color: rgb(255, 192, 203); }